<nav mat-tab-nav-bar>
    <a
        mat-tab-link
        routerLink="/c4dt/welcome"
        routerLinkActive
        #rla1="routerLinkActive"
        [active]="rla1.isActive"
    >
        Welcome
    </a>
    <a
        mat-tab-link
        routerLink="/c4dt/profile"
        routerLinkActive
        #rla2="routerLinkActive"
        [active]="rla2.isActive"
    >
        Profile
    </a>
    <a
        *ngIf="isPartner"
        mat-tab-link
        routerLink="/c4dt/partner"
        routerLinkActive
        #rla3="routerLinkActive"
        [active]="rla3.isActive"
    >
        Partner
    </a>
    <a
        *ngIf="showDevices"
        mat-tab-link
        routerLink="/c4dt/devices"
        routerLinkActive
        #rla5="routerLinkActive"
        [active]="rla5.isActive"
    >
        Devices
    </a>
    <a
        mat-tab-link
        routerLink="/c4dt/status"
        routerLinkActive
        #rla6="routerLinkActive"
        [active]="rla6.isActive"
    >
        Status
    </a>
</nav>
<router-outlet></router-outlet>
