<h2>Available Devices</h2>
<ul>
  <li *ngFor="let device of ( devices | async )">
    <button mat-button (click)="darcShow(device)">
      {{getName(devices, device)}}</button> -
    <button mat-button (click)="deviceDelete(device)">Delete
  </button>
    - <button mat-button (click)="rename(devices, device)">Rename</button>
  </li>
  <button mat-stroked-button (click)="deviceCreate()">Add Device</button>
</ul>
<h2>Recovery accounts</h2>
<ul>
  <li *ngFor="let device of ( recovery | async )">
    <button mat-button (click)="darcShow(device)">
      {{getName(recovery, device)}}</button> -
    <button mat-button (click)="recoveryDelete(device)">Delete
  </button>
    - <button mat-button (click)="rename(recovery, device)">Rename</button>
  </li>
  <button mat-stroked-button (click)="recoveryCreate()">Add Recovery</button>
</ul>
