language: minimal
dist: trusty

addons:
  ssh_known_hosts: c4dtsrv1.epfl.ch

stages:
  - build
  - name: deploy
    if: branch = master

jobs:
  include:

    - stage: build
      name: conode
      language: go
      go: "1.12.x"
      script:
        - cd conode
        - export GO111MODULE=on
        - make docker_run_travis &
        - make docker_wait
        - make utils
        - build/bcadmin latest --bc bc*cfg
    - name: dynacred
      language: node_js
      node_js: "10"
      install:
       - gimme 1.12.4
       - . $HOME/.gimme/envs/go1.12.4.env
       - ( git clone --depth=1 https://github.com/dedis/cothority; cd cothority; make docker )
       - cd dynacred && npm ci
      script: npm run test
    - name: webapp
      language: node_js
      node_js: "10"
      install:
        - gimme 1.12.4
        - . $HOME/.gimme/envs/go1.12.4.env
        - cd webapp && npm ci
        - npm link ../dynacred
      before_script: npm run lint
      script:
        - npm run build --prod
# Currently there are no tests available, so we cannot test it...
#        - make -C ../conode docker_run &
#        - make -C ../conode docker_wait
#        - npm run test --no-watch
    - name: webapp/cas
      language: go
      go: 1.12.x
      install:
        - cd webapp/cas
        - export GO111MODULE=on
        - go get golang.org/x/lint/golint
        - go get honnef.co/go/tools/cmd/staticcheck
        - go get ./...
      before_script:
        - test -z "`gofmt -l .`"
        - go vet ./...
        - golint -set_exit_status . cmd/...
        - staticcheck ./...
      script:
        - make
        - go test ./...

    - stage: deploy
      name: demo.c4dt.org
      before_deploy:
        - echo "$DEPLOY_SSH_KEY" > "$HOME/.ssh/id_ed25519"
        - chmod 600 "$HOME/.ssh/id_ed25519"
      deploy:
        provider: script
        script: ssh omniledger@c4dtsrv1.epfl.ch bin/update.sh
    - name: NPM
      language: node_js
      node_js: "10"
      script: skip # node_js.script default to `make test`
      before_deploy: echo "//registry.npmjs.org/:_authToken=${DEPLOY_NPM_TOKEN}" > "$HOME/.npmrc"
      deploy:
        provider: script
        script: cd dynacred && npm ci && npm version prerelease --preid=p`date +%Y%m%d%H%M%S` && npm publish --tag dev

notifications:
  email: false
