language: minimal
dist: trusty

addons:
  ssh_known_hosts: c4dtsrv1.epfl.ch

stages:
  - build
  - name: deploy
    if: branch = master

jobs:
  include:

    - stage: build
      name: conode
      script:
        - cd conode
        - make docker
    - name: dynacred
      language: node_js
      node_js: 10
      install: cd dynacred && npm ci
      script: npm run test
    - name: webapp
      language: node_js
      node_js: 10
      before_install: cd dynacred && npm ci && npm pack && cd ..
      install:
        - cd webapp && npm ci
        - d=node_modules/@c4dt/dynacred; rm -r $d && mkdir $d
        - tar -x -f ../dynacred/*.tgz --strip-components=1 -C node_modules/@c4dt/dynacred
      before_script: npm run lint
      script:
        - npm run build --prod
        - npm run test --no-watch

    - stage: deploy
      name: demo.c4dt.org
      before_deploy:
        - echo "$DEPLOY_SSH_KEY" > "$HOME/.ssh/id_ed25519"
        - chmod 600 "$HOME/.ssh/id_ed25519"
      deploy:
        provider: script
        script: ssh omniledger@c4dtsrv1.epfl.ch bin/update.sh
    - name: NPM
      language: node_js
      node_js: 10
      script: skip # node_js.script default to `make test`
      before_deploy: echo "//registry.npmjs.org/:_authToken=${DEPLOY_NPM_TOKEN}" > "$HOME/.npmrc"
      deploy:
        provider: script
        script: cd dynacred && npm ci && npm version prerelease --preid=p`date +%Y%m%d%H%M%S` && npm publish --tag dev

notifications:
  email: false
