<nav mat-tab-nav-bar>
    <a
        mat-tab-link
        routerLink="/admin/yourself"
        routerLinkActive
        #rla1="routerLinkActive"
        [active]="rla1.isActive"
    >
        Yourself
    </a>
    <a
        mat-tab-link
        routerLink="/admin/contacts"
        routerLinkActive
        #rla2="routerLinkActive"
        [active]="rla2.isActive"
    >
        Contacts
    </a>
    <a
        mat-tab-link
        routerLink="/admin/devices"
        routerLinkActive
        #rla3="routerLinkActive"
        [active]="rla3.isActive"
    >
        Devices
    </a>
    <a
        mat-tab-link
        routerLink="/admin/status"
        routerLinkActive
        #rla4="routerLinkActive"
        [active]="rla4.isActive"
    >
        Status
    </a>
</nav>
<router-outlet></router-outlet>
