<mat-dialog-content>
    <div>
        <h1>Block {{data.sb.index}}</h1>
        <mat-accordion multi="true">
            <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Block Data
                    </mat-panel-title>
                    <mat-panel-description>
                        Generic Data of the block
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div fxLayout="column">
                    <div fxLayout="row">
                        <div fxFlex="1 1 10em">Index: {{data.sb.index}}</div>
                        <div fxFlex="1 1 20em">Creation: {{data.timeStr}}</div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="1 1 10em">Leader:</div>
                        <div fxFlex="1 1 20em">
                            {{data.sb.roster.list[0].description}}
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="1 1 10em">Roster:</div>
                        <div fxFlex="1 1 20em">{{roster.join(", ")}}</div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="1 1 10em">BackwardLinks:</div>
                        <div fxFlex="1 1 20em">
                            <span
                                *ngFor="let backward of data.backwardLinks"
                                (click)="goBlock(backward.id)"
                                class="link"
                            >
                                {{backward.index}}</span
                            >
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="1 1 10em">ForwardLinks:</div>
                        <div fxFlex="1 1 20em">
                            <span
                                *ngFor="let forward of data.forwardLinks"
                                (click)="goBlock(forward.id)"
                                class="link"
                            >
                                {{forward.index}}/{{forward.sign}}</span
                            >
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel expanded="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        ByzCoin Body
                    </mat-panel-title>
                    <mat-panel-description>
                        Client Transactions
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <ul>
                    <div *ngFor="let ctx of ctxs">
                        <li>
                            Index: {{ctx.index}} :: Accepted: {{ctx.accepted}}
                        </li>
                        <ul>
                            <div *ngFor="let inst of ctx.instructions">
                                <li>Instruction: {{inst.index}}</li>
                                <ul>
                                    <li>Instance: {{inst.description}}</li>
                                    <li>
                                        ContractID: {{inst.contractID}} :: Type:
                                        {{inst.type}}
                                        <span *ngIf="inst.command"
                                            >:: Command: {{inst.command}}</span
                                        >
                                    </li>
                                    <li *ngIf="inst.args">
                                        Arguments: {{inst.args.join(" - ")}}
                                    </li>
                                </ul>
                            </div>
                        </ul>
                    </div>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
        <p>
            <button
                mat-raised-button
                color="primary"
                [mat-dialog-close]="true"
                cdkFocusInitial
            >
                Dismiss
            </button>
        </p>
    </div>
</mat-dialog-content>
