app/App_Resources/Android/src/main/res/values/strings.xml binary
app/App_Resources/Android/src/main/res/values-en/strings.xml binary
app/App_Resources/iOS/en.lproj/InfoPlist.strings binary
app/App_Resources/iOS/en.lproj/Localizable.strings binary
app/App_Resources/iOS/fr.lproj/InfoPlist.strings binary
app/App_Resources/iOS/fr.lproj/Localizable.strings binary
