/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.width100 {
    width: 100%;
}

.center {
    text-align: center;
}

html, body {
    min-height: 95vh;
    height: auto;
    margin: 0;
}

.redBack {
    background-color: red;
}
