@import "../../../../app-variables";

$size: 70vw;
$case-padding: 10;

.page-content {
  padding: 5px;
  background-color: white;
}

.grid-list {
  color: white;
  background-color: $accent-light;
  text-align: center;
  margin: 7vw;
  border-radius: 20px;
}

.grid-list-text {
  margin: $case-padding;
  margin-left: 2.5 * $case-padding;
  margin-right: 2.5 * $case-padding;
}

.label-title {
  padding-top: 10px;
  padding-bottom: 5px;
  vertical-align: center;
}

#addPublicKey #addPredecessor {
  horizontal-align: right;
  vertical-align: center;
  font-size: 40pt;
  padding-right: 20px;
}

#pk-list-header #predecessor-list-header {
  vertical-align: center;
}

#pk-list-header #predecessor-list-header * {
  padding-bottom: 0;
}
