h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.progress-log {
  position: relative;
  width: 50%;
  left: 25%;
}

.progress-box {
  position: relative;
  left: 25%;
  height: 20px;
  width: 50%;
  border: 1px solid black;
}

.progress-bar {
  position: absolute;
  top: 0;
  height: 20px;
  background-color: #00b0e8;
  text-align: center;
  z-index: -10;
}

.progress-text {
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
}
