<h2>Profile</h2>
<form [formGroup]="contactForm" class="formwidth" (ngSubmit)="updateContact()">
    <mat-form-field class="width100">
        <input
            matInput
            type="text"
            placeholder="Alias"
            formControlName="alias"
        />
    </mat-form-field>
    <mat-form-field class="width100">
        <input
            matInput
            type="text"
            placeholder="Your Email"
            formControlName="email"
        />
    </mat-form-field>
    <!--    <mat-checkbox formControlName="subscribe">Subscribe to C4DT monthly Newsletter</mat-checkbox>-->
    <br />
    <br />
    <button mat-raised-button color="primary" class="submit-btn" type="submit">
        Store Data
    </button>
</form>
