<ul>
  <li>UserID: {{gData.contact.credentialIID.toString('hex')}}</li>
  <li>Coins: {{gData.coinInstance.coin.value.toNumber()}}
    -
    <button mat-button (click)="gData.coinInstance.update()">Update</button>
  </li>
</ul>
<form [formGroup]="contactForm" class="formwidth" (ngSubmit)="updateContact()">

  <mat-form-field class="width100">
    <input matInput type="text" placeholder="Alias" formControlName="alias"/>
  </mat-form-field>
  <mat-form-field class="width100">
    <input matInput type="text" placeholder="Your Email" formControlName="email"/>
  </mat-form-field>
  <mat-form-field class="width100">
    <input matInput type="text" placeholder="Your Phone" formControlName="phone"/>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" class="submit-btn" type="submit">Store Data</button>
</form>
