<div fxLayout="column">
    <div fxFlex="60%">
        <h1>Welcome New User</h1>
        <p>
            This is the C4DT Omniledger / Calypso demo from the
            <a href="https://demo.c4dt.org">C4DT-Demonstrators</a>. Only
            registered users can use the login service. If you are interested in
            OmniLedger / Darc, you can find more information here:
            <a href="https://showcase.c4dt.org/project/DEDIS/omniledger"
                >Showcase</a
            >
        </p>
    </div>
</div>
