<h2>Contacts</h2>
<ul>
    <li *ngFor="let contact of user.addressBook.contacts | async">
        <button mat-button (click)="contactShow(contact)">
            {{ contact.credPublic.alias | async | titlecase }}
        </button>
        -
        <button mat-button (click)="contactUnlink(contact)">Delete</button>
    </li>
</ul>
<div>
    <button mat-stroked-button color="primary" (click)="createSimpleContact()">
        New User
    </button>
    <button mat-stroked-button color="primary" (click)="contactLink()">
        Add Contact
    </button>
</div>
