<div *ngIf="!isLoaded">
    <h1>Loading user</h1>
</div>
<div *ngIf="isLoaded">
    <mat-tab-group>
        <mat-tab label="Yourself">
            <app-yourself></app-yourself>
        </mat-tab>
        <mat-tab label="Contacts">
            <app-contacts></app-contacts>
        </mat-tab>
        <mat-tab label="Secure">
            <app-secure></app-secure>
        </mat-tab>
        <mat-tab label="Status">
            <app-status></app-status>
        </mat-tab>
    </mat-tab-group>
</div>
