<h2>CREDENTIAL "{{ contact.alias }}"</h2>
<p>

    version: {{ contact.version }}<br/>
    struct version: {{ contact.structVersion }}<br/>
<p>

    email: {{ contact.email }}<br/>
    url: {{ contact.url }}<br/>
    phone: {{ contact.phone }}<br/>
    view: {{ contact.view }}<br/>
    subscribed to newsletter: {{ contact.subscribe }}<br/>
<p>

    DARC ID: <a [routerLink]="'/explorer/' + contact.darcInstance.darcID.toString('hex')">
        {{contact.darcInstance.darcID.toString('hex')}}</a><br/>
    credentials instance ID (user ID): {{ contact.credentialIID.toString("hex") }}<br/>
    spawner instance ID: {{ contact.spawnerID.toString("hex") }}<br/>
    coin instance ID: <a [routerLink]="'/explorer/' + contact.coinID.toString('hex')">
        {{ contact.coinID.toString("hex") }}</a><br/>
    LTS instance ID: {{ contact.ltsID.toString("hex") }}<br/>
    signer instance ID:
    <span *ngIf="signerInstanceID === undefined" class="waiting">fetching</span>
    <span *ngIf="signerInstanceID !== undefined">{{ signerInstanceID.id.toString("hex") }}</span>
<p>

    seed public: {{ contact.seedPublic.toHex() }}<br/>
    personhood public:
    <span *ngIf="contact.personhoodPub === undefined" class="undefined">undefined</span>
    <span *ngIf="contact.personhoodPub !== undefined">{{ contact.personhoodPub.toHex() }}</span>
    <br/>
    LTS X: {{ contact.ltsX }}<br/>
<p>

    contacts:
    <span *ngIf="contacts === undefined" class="waiting">fetching</span>
<ul *ngIf="contacts !== undefined">
    <li *ngFor="let c of contacts">{{ c.alias }}</li>
</ul>
<p>

    actions:
    <span *ngIf="actions === undefined" class="waiting">fetching</span>
<ul *ngIf="actions !== undefined">
    <li *ngFor="let a of actions">{{ a.darc.description }}</li>
</ul>
<p>

    groups:
    <span *ngIf="actions === undefined" class="waiting">fetching</span>
<ul *ngIf="actions !== undefined">
    <li *ngFor="let g of groups">{{ g.darc.description }}</li>
</ul>
