<h2>CREDENTIAL "{{ pub.alias | async }}"</h2>

version: {{ pub.version | async }}<br />
struct version: {{ config.structVersion | async }}<br />
<br />
email: {{ pub.email | async }}<br />
url: {{ pub.url | async }}<br />
phone: {{ pub.phone | async }}<br />
view: {{ config.view | async }}<br />
subscribed to newsletter: {{ pub.subscribe | async }}<br />
<br />
DARC ID:
<a [routerLink]="'/explorer/' + credStruct.darcID.toString('hex')">
    {{ credStruct.darcID.toString("hex") }}</a
><br />
credentials instance ID (user ID): {{ credStruct.id.toString("hex") }}<br />
spawner instance ID: {{ credStruct.id.toString("hex") }}<br />
coin instance ID:
<a [routerLink]="'/explorer/' + (pub.coinID | async).toString('hex')">
    {{ (pub.coinID | async).toString("hex") }}</a
><br />
LTS instance ID: {{ (config.ltsID | async).toString("hex") }}<br />
LTS X: {{ (config.ltsX | async).marshalBinary().toString("hex") }}<br />
signer instance ID:
{{
    (bcs.retrieveSignerIdentityDarc(credStruct.darcID) | async).id.toString(
        "hex"
    )
}}
<br />
seed public: {{ (pub.seedPub | async).toString("hex") }}<br />
<br />
<span *ngIf="addressBook === undefined" class="waiting">fetching</span>
<div *ngIf="addressBook !== undefined">
    contacts:
    <ul>
        <li *ngFor="let c of addressBook.contacts | async">
            {{ c.credPublic.alias | async }}
        </li>
    </ul>
    <br />
    actions:
    <ul>
        <li *ngFor="let a of addressBook.actions | async">
            {{ (a.darc | async).description }}
        </li>
    </ul>
    <br />
    groups:
    <ul>
        <li *ngFor="let g of addressBook.groups | async">
            {{ (g | async).description }}
        </li>
    </ul>
</div>
