@import "../../../../app-variables";

$size: 70vw;
$case-padding: 10;

.page-content {
  padding: 5;
  background-color: white;
}

.grid-list {
  color: white;
  background-color: $accent-light;
  text-align: center;
  vertical-align: center;
  horizontal-align: center;
  margin: 7vw;
  border-radius: 20;
}

.grid-list-text {
  margin: $case-padding;
  margin-left: 2.5 * $case-padding;
  margin-right: 2.5 * $case-padding;
}

.label-title {
  padding-top: 10;
  padding-bottom: 5;
  vertical-align: center;
}

#addOrg {
  horizontal-align: right;
  vertical-align: center;
  font-size: 40;
  padding-right: 20;
}

#org-list-header {
  vertical-align: center;
}

#org-list-header * {
  padding-bottom: 0;
}