<div *ngIf="!isLoaded && !isNew">
    <h1 class="center">Loading user</h1>
</div>
<div *ngIf="isLoaded">
    <nav mat-tab-nav-bar>
        <a mat-tab-link routerLink="/c4dt/welcome"
           routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
            Welcome
        </a>
        <a mat-tab-link routerLink="/c4dt/profile"
           routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
            Profile
        </a>
        <a *ngIf="isPartner"
           mat-tab-link routerLink="/c4dt/partner"
           routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
            Partner
        </a>
        <a *ngIf="showDevices"
           mat-tab-link routerLink="/c4dt/devices"
           routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive">
            Devices
        </a>
        <a mat-tab-link routerLink="/c4dt/status"
           routerLinkActive #rla5="routerLinkActive" [active]="rla5.isActive">
            Status
        </a>
    </nav>
    <router-outlet></router-outlet>
</div>
<div *ngIf="isNew">
    <router-outlet></router-outlet>
</div>
