name: lint and test

on:
    pull_request

jobs:
    build-conode:
        name: build conode
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: conode
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-go@v2

#            - run: make docker_start_detached docker_wait
#            - run: docker exec conode sh -c './bcadmin latest --bc conodes/bc*cfg'
#
#    test-dynacred:
#        name: test dynacred
#        runs-on: ubuntu-latest
#        defaults:
#            run:
#                working-directory: dynacred
#        steps:
#            - uses: actions/checkout@v2
#            - uses: actions/setup-node@v2
#
#            - uses: actions/checkout@v2
#              with:
#                  repository: dedis/cothority
#                  path: cothority
#            - run: make docker
#              working-directory: cothority
#            - run: rm -rf ../cothority
#
#            - run: npm ci
#            - run: npm run test
#
#    lint-webapp:
#        name: lint webapp
#        runs-on: ubuntu-latest
#        defaults:
#            run:
#                working-directory: webapp
#        steps:
#            - uses: actions/checkout@v2
#            - uses: actions/setup-node@v2
#
#            - run: npm ci
#            - run: npm run lint
#
#    build-webapp:
#        name: build webapp
#        runs-on: ubuntu-latest
#        needs: lint-webapp
#        defaults:
#            run:
#                working-directory: webapp
#        steps:
#            - uses: actions/checkout@v2
#            - uses: actions/setup-node@v2
#
#            - run: npm ci
#              working-directory: dynacred
#
#            - run: npm ci
#            - run: npm run build:prod
#
#    lint-cas:
#        name: lint webapp/cas
#        runs-on: ubuntu-latest
#        defaults:
#            run:
#                working-directory: webapp/cas
#        steps:
#            - uses: actions/checkout@v2
#            - uses: actions/setup-go@v2
#
#            - uses: Jerome1337/gofmt-action@v1.0.4
#            - run: go vet ./...
#
#            - uses: dominikh/staticcheck-action@v1.1.0
#            - uses: Jerome1337/golint-action@v1.0.2
#
#    build-cas:
#        name: build webapp/cas
#        runs-on: ubuntu-latest
#        needs: lint-cas
#        defaults:
#            run:
#                working-directory: webapp/cas
#        steps:
#            - uses: actions/checkout@v2
#            - uses: actions/setup-go@v2
#
#            - run: make
#
#    test-cas:
#        name: test webapp/cas
#        runs-on: ubuntu-latest
#        needs: build-cas
#        defaults:
#            run:
#                working-directory: webapp/cas
#        steps:
#            - uses: actions/checkout@v2
#            - uses: actions/setup-go@v2
#
#            - run: go test -json ./... | tee test.json
#            - uses: guyarb/golang-test-annotations@v0.5.0
#              if: always()
#              with:
#                  test-results: webapp/cas/test.json
